
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.experience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

button {
  position: absolute;
  
  border: none;
  cursor: pointer;
  
  background-color: transparent;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  
  text-shadow: 1px 1px #414040;
  border-radius: 50%;
  /*background-image: url(../assets/steer.jpg);*/
  background-color: rgba(1, 1, 1, 0.2); 
  /* Here, 0.5 sets the opacity (0 = fully transparent, 1 = fully opaque) */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 175px 100px;
  width: 35px;
  height: 35px;
  box-shadow: 2px 2px 2px #111111;
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  position: absolute;
  top: 15px;
  right: 100px;
 
  z-index: 100;
  width: 150px;
  height: 150px;
  box-shadow: 3px 2px 2px #030303;
  
}

.bottom-left {
  bottom: 50px;
  left: 70px;
  width: 75px;
  height: 75px;
  font-size: 14px;
  font-weight: bold;
}

.bottom-right {
  bottom: 50px;
  right:  70px;
  width: 75px;
  height: 75px;
  font-size: 14px;
  font-weight: bold;
}

/* Additional styles for the new div elements */
#label,
#label3,
#label4 {
  position: absolute;
  font-family: sans-serif;
  color: red;
  text-shadow: 2px 2px #ff0000;
}

#label {
  top: 50px; /* Adjust as needed for the top label */
  left: 50%; /* Align center */
  transform: translateX(-50%);
  font-size: 36px;
}

#label3,
#label4 {
  font-size: 24px;
  padding: 10px;
  text-shadow: 2px 2px #000000;
}

#label3 {
  bottom: 20px; /* Adjust for the bottom-left label */
  left: 20px;
}

#label4 {
  bottom: 20px; /* Adjust for the bottom-right label */
  right: 20px;
}